*{
        margin: 0px;
        padding: 0px;
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .header-row1{
        display: flex;
        flex-direction: row;
        background-color: rgb(7, 138, 95);
        height: 30px;
        align-items: center;
    }
    .column1{
        flex:1;
    }
    .column2{
        flex: 1;
        text-align: right;
    }
    .header-row2{
        display: flex;
        flex-direction: row;
        height: 50px;
        background-color: black;
        align-items: center;
    }
    .column3{
        flex:1;
        text-align: center;
        height: 100dvh;
        
    }
    .column4{
        flex: 3;
        height: 100dvh;
    }
    main{
        min-height: 620px;
    }
    footer{
        background-color: black;
        color: white;
        text-align: center;
        height: 40px;
        padding-top: 5px;
    }
    ul li{
        display: inline;
    }
    ul li a{
        text-decoration: none;
        font-weight: bold;
        padding: 5px 20px 5px 20px;
        color:white;
    }
    .logo{
        width: 100px;
    }
    .abutton1{
        background-color: green;
        color: white;
        padding: 5px 5px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        width: 80%;
    }
    .abutton2{
        background-color: #ba210d;
        color: white;
        padding: 5px 5px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        width: 80%;
    }
    .login-div{
        box-shadow: 1px 1px 4px gray;
        width: 300px;
        padding: 100px;
        margin-top: 100px;
        
    }
    .signup-div{
        box-shadow: 1px 1px 4px gray;
        width: 300px;
        padding: 100px;
        margin-top: 100px; 
    }
    .left-panel{
        background-color: cadetblue;
        color: white;
        width: 220px;
        border-style: solid;
        border-color: black;
    }
    .right-panel{
        width: 100%;
    }
    .leftmenu{
        text-decoration: none;
    }
    .leftmenu>li{
        background-color: green;
        padding: 5px;
        border-style: solid;
    }
    .leftmenu>li>a{
        color:white;
        text-decoration: none;
    }
    
    .signup-form{
        font-family: "Roboto", sans-serif;
        width: 550px;
        margin: 30px auto;
        box-shadow: 1px 1px 4px gray;
        padding: 10px;
    }
    label{
        color: rgb(7, 138, 95);
        font-size: 17px;
        font-weight: bold;
        margin: 5px;
    }
    .form-input{
        font-size: 17px;
        box-sizing: border-box;
        width: 320px;
        height: 34px;
        padding-left: 10px;
        padding-right: 10px;
        color: #333333;
        text-align: left;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        background: white;
        outline: none;
        margin: 10px;
    }
    .btn{
        display: inline-block;
        padding: 10px 20px;
        background-color: #1BBA93;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        color: #bcf5e7;
        cursor: pointer;
        width: 100%;
    }
    caption{
        font-family: cursive;
        font-weight: bold;
        font-size: 20px;
        color: maroon;
    }
    
    .row{
        display: flex;
        flex-direction: row;
        min-height: 300px;
        margin: 2px;
    }
    .column{
        width: 25%;
        min-height: 300px;
    }
    .row1{
        display: flex;
        flex-direction: column;
        min-height: 50px;
    }
    .datacolumn{
        width: 100%;
    }
    .product{
        box-shadow: 1px 1px 4px grey;
        margin: 5px;
        padding: 5px;
        color: rgb(7, 138, 95);
        font-weight: bold;
    }